<div class="col-md-4 col-6">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="targetOutcomeARDS" name="target_outcome" value="ARDS"
            autocomplete="off">
        <label class="form-check-label" for="targetOutcomeARDS">ARDS</label>
    </div>
</div>
<div class="col-md-4 col-6">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="targetOutcomeAtelectasis" name="target_outcome"
            value="Atelectasis" autocomplete="off">
        <label class="form-check-label" for="targetOutcomeAtelectasis">Atelectasis</label>
    </div>
</div>
<div class="col-md-4 col-6">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="targetOutcomePleuralEffusion" name="target_outcome"
            value="Pleural effusion" autocomplete="off">
        <label class="form-check-label" for="targetOutcomePleuralEffusion">Pleural effusion</label>
    </div>
</div>
<div class="col-md-4 col-6">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="targetOutcomePneumonia" name="target_outcome"
            value="Pneumonia" autocomplete="off">
        <label class="form-check-label" for="targetOutcomePneumonia">Pneumonia</label>
    </div>
</div>
<div class="col-md-4 col-6">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="targetOutcomePneumothorax" name="target_outcome"
            value="Pneumothorax" autocomplete="off">
        <label class="form-check-label" for="targetOutcomePneumothorax">Pneumothorax</label>
    </div>
</div>
<div class="col-md-4 col-6">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="targetOutcomePPCs" name="target_outcome" value="PPCs"
            autocomplete="off">
        <label class="form-check-label" for="targetOutcomePPCs">PPCs</label>
    </div>
</div>
<div class="col-md-4 col-6">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="targetOutcomePulmonaryEmbolism" name="target_outcome"
            value="Pulmonary embolism" autocomplete="off">
        <label class="form-check-label" for="targetOutcomePulmonaryEmbolism">Pulmonary embolism</label>
    </div>
</div>
<div class="col-md-4 col-6">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="targetOutcomeRespiratoryFailure" name="target_outcome"
            value="Respiratory failure" autocomplete="off">
        <label class="form-check-label" for="targetOutcomeRespiratoryFailure">Respiratory failure</label>
    </div>
</div>
<div class="col-md-4 col-6">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="targetOutcomeRespiratoryInfection" name="target_outcome"
            value="Respiratory infection" autocomplete="off">
        <label class="form-check-label" for="targetOutcomeRespiratoryInfection">Respiratory infection</label>
    </div>
</div>